:root{
    --font: Arial, Helvetica, sans-serif;
    --secondary-color: black;
    --primary-color: rgb(20, 83, 255);
    --highlight-primary: rgb(64, 147, 255);
/* Flexbox mini-project :root*/
    --flex-primary-color: orangered;
    --flex-secondary-color: black;
    --flex-span-primary-color: rgb(102, 102, 102);
    --flex-font:"Open Sans", sans-serif;
    --flex-lg-font: clamp(2rem, 13vw,3rem);
    --flex-md-font: clamp(1.5rem, 8vw,2rem);
    --flex-sm-font: .9rem;
    --flex-xs-font: .7rem;
    --flex-primary-bg-color:rgb(248, 248, 248);
    --flex-secondary-bg-color: white;
}
*::after,
*::before,
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(207, 207, 207) 1.5px solid;
    padding: 1rem 3rem;
}
.logo{
    font-family: var(--font);
    font-size: 2rem;

}
ul{
    display: flex;
}
ul{
    gap: 2.3rem;
    list-style: none;
}
a{
    color: var(--secondary-color);
    text-decoration: none;
}
a:hover{
    color: var(--primary-color);
    transition: all .3s;
    cursor: pointer;
}
.nav-link,
.signup-btn{
    font-family: var(--font);
}
.signup-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-radius: .7rem;
    border: none;
    font-size: .9rem;
    transition: background-color .3s ease-out;
}
.signup-btn:hover{
    background-color: var(--highlight-primary);
    cursor: pointer;
}
.nav-link{
    color: var(--secondary-color);
}
.nav-link:hover{
    color: var(--primary-color);
}

/* Start of Flexbox mini-project */
    .flex-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--flex-primary-bg-color);
        height: fit-content;
        padding: 3rem;
    }
    .flex-main-title,
    .flex-h2,
    .flex-card-item,
    .flex-card-pricing,
    .flex-card-span,
    .flex-section>form>input+button,
    .flex-light-span,
    .flex-orange-span{
        font-family: var(--flex-font);
    }

    .flex-main-title{
        text-align: center;
        font-size: var(--flex-lg-font);
    }
    .flex-main-title:last-of-type{
        color: var(--flex-primary-color);
    }
    .flex-hero{
        display: flex;
        flex-direction: column;
        min-width: 1rem;
    }
    .flex-card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 7rem;
    }
    .flex-h2{
        font-size: var(--flex-md-font);
    }

    .flex-card{
        display: flex;
        flex: 1 auto;
        position: relative;
        background-color: var(--flex-secondary-bg-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 18rem;
        min-width: 13rem;
        box-shadow:  0px 20px 15px -15px rgba(0, 0, 0, 0.3);
        padding: 3.3rem;
    }

    .flex-card > .flex-h2{
        margin-bottom: 1rem;
    }
    .flex-card-ul{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        color: var(--flex-span-primary-color);
        text-align: center;
        flex: 1;
    }
    .flex-card-item{
        display: flex;
        justify-content: center;
    }
    .flex-card-item>p{
        font-size: var(--flex-sm-font);
    }
    .flex-card-pricing{
        position: relative;
        margin-bottom: 0;

    }
    .flex-card-pricing::before{
        position: absolute;
        top: -.1rem;
        left: -.7rem;
        font-size: 1.2rem;
        content: '$';
        color: var(--flex-span-primary-color);
    }
    .flex-card-span{
        font-size: var(--flex-xs-font);
        color: var(--flex-span-primary-color);
        margin-top: 0;
    }
    .secondary-color-p{
        color: var(--flex-primary-color);
    }
    .flex-cta-message{
        margin-top: 1.3rem;
    }
    .flex-cta-message:first-of-type{
        display: flex;
        justify-content: flex-end;
    }
    .flex-cta-message:last-child{
        text-align: center;
    }
    .flex-light-span,
    .flex-orange-span{
        font-size: var(--flex-xs-font);
    }
    .flex-light-span{
        color: var(--flex-span-primary-color);
    }
    .flex-orange-span{
        color: var(--flex-primary-color);
        cursor: pointer;
    }
    .flex-footer{
        display: flex;
        flex-direction: column;
        width: clamp(18rem, 70vw, 65rem);
        margin-top: 2rem;
        gap: 2rem;
    }
    .flex-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }
    .flex-footer > .flex-h2{
        text-align: center;
    }
    .flex-input{
        height: 3rem;
        border: none;
        padding-left: 1rem;
        flex: 1 1 auto;
        outline: transparent;
        transition: border .3s ease-in;
    }
    .flex-input:focus{
        border: var(--flex-primary-color) 1px solid;
    }
    .flex-signup-btn{
        flex: 1 auto;
        height: 3rem;
        border: none;
        color: var(--flex-secondary-bg-color);
        background-color: var(--flex-primary-color);
        font-size: var(--flex-xs-font);
        min-width: 8rem;
        cursor: pointer;
    }
    .flex-input::placeholder{
        color: rgb(190, 190, 190);
    }
    .flex-input,
    .flex-signup-btn{
        border-radius: 5px;
    }
/* End of Flexbox mini-project */
/* Start of Flexbox pt.2 mini-project */
    .flex2-ul{
        display: flex;
        width: clamp(20rem, 80vw, 50rem);
        justify-self: center;
        flex-wrap: wrap;
        gap: 0;
    }
    .portrait-li,
    .landscape-li{
        background-color: var(--primary-color);
        border: black solid 1px;
    }
    .portrait-li{
        flex: 1 1 20%;
        min-width: 10rem;
        height: 14rem;

    }
    .landscape-li{
        flex: 2 1 40%;
        min-width: 15rem;
    }
/* End of Flexbox pt.2 mini-project */
/* Start of DOM mini-project */
    .calculator-body{
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 40rem;
        padding: 3rem;
        background-color: rgb(29, 29, 29);
        border: black solid 1px;
        margin: 5rem;
    }
    .calculator-body,
    .calculator-inputbox{
        border-radius: 10px;
    }
    .calculator-inputbox{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem;
        width: 25rem;
        height: 10rem;
        background-color: rgb(56, 56, 56);
        border: black solid 1px;
    }
    .calculator-text{
        font-family: var(--font);
        color: white;
        font-size: 3rem;
    }
    .calculator-btnDiv{
        display: flex;
        flex-wrap: wrap;
        width: 25rem;
        gap: 3px;
        margin-top: 2rem;
    }
    .digit-btn,
    .operator-btn{
        font-size: 3rem;
        flex: 1 0 20%;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        height: 6rem;
        min-width: 6rem;
    }
    .digit-btn{
        background-color: rgb(92, 92, 92);
        color: white;
    }
    .operator-btn{
        background-color: var(--primary-color);
        color: white;
    }
/* End of DOM mini-project */
/* Start of DOM rps mini-project*/
    .rps-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 30rem;
    }
    .rps-container:before{
        content: 'Rock, Paper, Scissors, Shoot!!';
        font-size: var(--flex-lg-font);
        font-family: var(--font);
        color: black;
        margin-bottom: 1em;
    }
    .rps-game-row{
        display: flex;
        gap: 3rem;
    }
    .rps-decider{
        font-size: var(--flex-lg-font);
        color: black;
        font-family: var(--font);
    }
    .rps-btn-img{
        width: 100%;
        height: 100%;
    }
    .rps-btn{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
        transition: transform 1s linear;
    }
    .rps-btn:hover{
        cursor: pointer;
        transform: rotate(360deg);
    }

/* Start of Form mini-project */
    .form {
        display: grid;
    }
/* End of Form mini-project */
/* End of DOM rps mini-project*/
@media (max-width:768px) {
    ul{
        display: none;
    }
}